<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Manager monitor</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap/icons/styles.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AppManagementEnsableMonitor.styles.css" asp-append-version="true" />
	<link href="~/vendor/google-fonts/montserrat/styles.css" rel="stylesheet">

</head>
<body>
    <header>
        @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand fw-semibold" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-speedometer2 me-1"></i> Manager monitor
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-flex">
                    <div class="d-flex align-items-center ms-auto">
                        <div class="me-2 text-end">
                            <small class="d-block text-muted" style="font-size: 0.75rem;">Usuario Conectado:</small>
                            <span class="fw-bold" id="userNameDisplay" style="font-size: 0.9rem;">
                                <span class="placeholder-glow">
                                    <span class="placeholder col-8 bg-secondary"></span>
                                </span>
                            </span>
                        </div>
                        <div class="bg-primary rounded-circle p-1 d-flex align-items-center justify-content-center" style="width: 32px; height: 32px;">
                            <i class="bi bi-person-circle fs-6 text-white"></i>
                        </div>
                    </div>
                </div>
            </div>
        </nav> *@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer eliminado -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
